@import './mixin';

/* 包括部分 */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "kaiti SC", "Meiryo","Yu Gothic Medium","游ゴシック Medium","Yugothic","游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
    margin: 0px;
    @include sp{
        box-sizing: border-box;
    }
}
.wrapper {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    @include tab {
        margin-top: 130px;
    }
    @include sp {
        margin-top: 110px;
    }
}
/* コンテンツ箇所 */
[class*="-content"] {
    @include tab{
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    @include sp {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* 見出し */
h2 {
    font-family: 'Cormorant Garamond',sans-serif;
    font-size: 60px;
    @include tab {
        text-align: center;
        font-size: 60px;
        margin-bottom: 20px;
    }
    @include sp{
        font-size: 40px;
        text-align: center;
    }
}
/* スクロール系 */
dl {
    margin-top: 10px;
    height: 646px;
    overflow-y: scroll;
    @include tab {
        margin-left: 10px;
        margin-right: 10px;
    }
}
dt {
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    font-size: 24px;
    color:#7C7C7C;
    padding-bottom: 1.25rem;
    padding-top: 2.5rem;
    @include tab {
        font-size: 1.25rem;
        padding-top: 1.5rem;
    }
    @include sp {
        font-size: 1rem;
        padding-top: 1.5rem;
    }
}
dd {
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    font-size: 20px;
    margin-left: 0%;
    border-bottom: solid 1px #000;              /* 下線 */
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    @include tab {
        font-size: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 1rem;
    }
    @include sp {
        font-size: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 1rem;
    }
}
a {
    transition: color 300ms;
    color: black;
    &:hover {
        color: grey;
    }
}
/* header部分 */
.page-header {
    display: flex;                              /* 横並びにする */
    justify-content: space-between;             /* 均等にする */
    max-width: 1285px;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
    @include tab {
        margin-right: 2%;
        margin-left: 2%;
    }
    nav {
        @include sp {
            margin-right: 3%;
            display: flex;
        }
    }
    &__logo {
        @include sp {
            height: 20%;
            width: 20%;
        }
        img { 
            width: 160px;
            margin-top: -10px;
            @include tab {
                margin-left: -15px;
            }
            @include sp {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__sns-nav, &__menu-nav {
        font-family: "kaiti SC", sans-serif;
        display: flex;                          /* 横並びにする */
        font-size: 22px;
        list-style: none;                       /* 先頭の・をなくす */
    }
    &__sns-nav {
        margin-top: 30px;
        margin-bottom: 4px;
        margin-left: 31%;
        @include sp {
            margin-left: 0;
            margin-top: 5%;
            margin-right: 25px;
        }
        img {
            @include sp {
                width: 17px;
            }
        }
        li {
            margin-left: 1rem;
            @include sp {
                margin-left: 0;
                margin-right: 0.5rem;
            }
        }
    }
    &__menu-nav {
        margin-top: 0;
        li a {
            text-decoration: none;              /* 下線消し */
        }
        /* menuナビの後ろに入れる装飾 */
        li:after {
            content: "/";
            padding: 0.8rem;
        }
        /* menuナビの一番後ろに入れる装飾 */   
        li:last-child::after{
            content: none;
        }
        @include tab{
            padding-left: 0;
        }
        @include sp{
            display: none;
        }
    }
/* ハンバーガーメニュー */
    &__menu {
        display: none;
        font-family: "kaiti SC", sans-serif;
        @include sp {
            /* メニューを縦に */
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            /* メニューの位置マイナス指定で画面外に */
            top: -100%;
            width: 100%;
            height: 380px;
            background-color: rgba(78, 16, 16, 0.8);
            transition: .5s;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            a {
                color: #efefef;
                text-decoration: none;          /* 下線消し */
            }
        }
    }
    &__hamberger-btn {
        position: fixed;
        top: 16px;
        right: 7px;
        width: 20px;
        z-index: 10;
        span {
            width: 15px;
            height: 1px;
            background-color: #d6d5d5;
            position: relative;
            transition: ease .4s;               /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
            display: none;
            @include sp {
                display: block;
            }
        }
        span:nth-child(1) {
            top: 0;
        } 
        span:nth-child(2) {
            margin: 5px 0;
        }
        span:nth-child(3) {
            top: 0;
        }
    }
}
/* ハンバーガーメニューボタン押下時 */
/* ハンバーガーメニューを変形 */
.active span:nth-child(1){
    width: 80%;
    top: 6px;
    left: -1px;
    transform: rotate(45deg);
}
.active span:nth-child(2){
    opacity: 0;
}
.active span:nth-child(3){
    width: 80%;
    top: -6px;
    left: -1px;
    transform: rotate(-45deg);
}
/* メニューを表示 */
.open {
    position: fixed;
    top: 0%;
}

/* メイン写真 */
.main-img {
    margin-top: -10px;
    width: 1285px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include tab {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    &__screen {
        @include tab {
            width: 98%;
            margin-left: auto;
            margin-right: auto;
        }
        @include sp {
            display: none;
        }
    }
    &__phone {
        display: none;
        @include sp {
            display: block;
            width: 98%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* スクロールアイコン */
.icon-in {
    width: 108px;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
    opacity: 0;                                 /* 透明度 */
    transition-duration: 1000ms;
    transform: translate(0, -50px);             /* 上から落ちてくるよう設定 */
    transition-property: opacity, transform;    /* アニメーションで設定する項目 */
    @include tab {
        display: none;
    }
    @include sp {
        display: none;
    }
}
.scroll-icon-in {
    opacity: 1;                                 /* 透明度 */
    transform: translate(0, 0);                 /* 上から落ちてくるよう設定 */
}
/* スクロール時に消えるよう設定 */
.scroll-icon-fadeout {
    animation : fadeOut 1000ms;
    animation-fill-mode: both;
}
    @keyframes fadeOut {
        0% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
}

/* ニュース部分 */
.news-content{
    &__live-url {
        color: mediumturquoise;
        &:hover {
            color: lightseagreen;
        }
    }
    &__flyer {
        width: 50%;
        object-fit: cover;
        text-decoration: none;
        transition: color 300ms;
        color: black;
        &:hover {
            color: grey;
        }
    }
    &__info_img {
        margin-top: 1rem;
        width: 20%;
        @include tab{
            width :35%
        }
        @include sp {
            width: 50%;
        }
    }
}
/* ライブ部分 */
/* メイリオ背景 */
.bg-grey {
    background-color: #F2F2F2;
    margin-top: 70px;
    height: 770px;
    @include sp {
        margin-top: 35px;
        height: 735px;
    }
}
.live-content {
    margin-top: -755px;
    @include tab {
        margin-top: -755px;
    }
    @include sp {
        margin-top: -708px;
    }
    &__live-url{
        color: mediumturquoise;
        &:hover {
            color: lightseagreen;
        }
    }
    &__flyer{
        object-fit: cover;
        img {
            width: 50%;
            margin-top: 1rem;
        }
    }
    dd {
        border-bottom: solid 3px #FFFFFF;
    }
    dl {
        @include tab {
            max-height: 630px;
        }
    }

}
/* プロフィール部分 */
.profile-content {
    margin-top: 140px;
    @include sp {
        margin-top: 105px;
    }
    &__info {
        display: flex;
        margin-top: 5%;
        &__img {
            margin-left: -10px;
            @include tab{
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            @include sp{
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }
        }
        &__text {
            font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
            font-size: 25px;
            margin-left: 6rem;
            margin-top: auto;
            margin-bottom: auto;
            @include tab{
                font-size: 1.5rem;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            @include sp {
                font-size: 1rem;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            p {
                margin-top: 8%;
            }
        }
        @include tab {
            /* 重なるよう配置 */
            flex-direction: column;
        }
        @include sp {
            /* 重なるよう配置 */
            flex-direction: column;
        }
    }
}
/* ディスコグラフィー部分 */
/* メイリオ背景 */
.bg-grey-dis {
    background-color: #F2F2F2;
    margin-top: 90px;
    height: 770px;
    @include tab {
        margin-top: 70px;
    }
    @include sp {
        margin-top: 30px;
        height: 710px;
    }
}
.disco-content {
    margin-top: -757px;
    height: 690px;
    font-size: 20px;
    @include tab{
        margin-top: -756px;
    }
    @include sp {
        margin-top: -682px;
    }
    &__info{
        height: 600px;
        overflow-y: scroll;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 5%;
        &__item--date {
            color: #AFAFAF;
            margin: 0.5rem 0rem 0.5rem;
        }
        @include tab{
            height: 619px;
        }
    }
    img {
        width: 100%;
    }
    p {
        font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
        font-size: 20px;
        margin: 0.5rem 0rem 0.5rem;
        @include tab {
            font-size: 1rem;
        }
        @include sp {
            font-size: 1rem;
        }
    }
}
/* フッター部分 */
.footer {
    margin-top: 130px;
    @include sp {
        margin-top: 30px;
    }
    &__sns-nav {
        padding: 0;
        text-align: center;
        list-style: none;
        margin: 60px;
        /* なぜか分からないが、liをdisplay指定しないとうまくいかない */
        li {
            display: inline-block;
            img {
                @include sp {
                width: 70%;
                }
            }
        }
        @include sp {
            margin: 30px;
        }
    }
    &__copy {
        background: url(../img/func_footer.jpg);
        background-repeat: repeat-x;
        min-height: 156px;
        p {
            text-align: center;
            color: #fff;
            font-family: "Kaiti SC", sans-serif;
            font-size: 1rem;
            padding-top: 1.2rem;
        }
    }
}

/* JavaScript用 */
.scroll-fade {
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
}
.scroll-in {
    opacity: 1;
    transform: translate(0, -50px);
}

/* PageTopボタン */
.page-top{transition:opacity 1s;transition-duration: 1000ms;visibility:hidden;opacity:0}.page-top.is-fadein{visibility:visible;opacity:1}.arrow{position:fixed;right:12px;bottom:12px;color:#fff;cursor:pointer;background-color:#c4c4c4;border-radius:22px;padding:20px;transition:all 0.2s ease-in-out}.arrow:hover{opacity:.8;bottom:15px;box-shadow:0 2px 4px 1px rgba(0,0,0,0.5)}.arrow:before,.arrow:after{content:"";width:12px;height:12px;border-top:solid 3px #fff;border-right:solid 3px #fff;transform:rotate(-45deg);position:absolute;left:14px}.arrow:before{top:11px}.arrow:after{top:21px}

/* バナー */
.banner {
    position: fixed;
    left: -100%;
    bottom: 12px;
    transition: .5s;
    &__img {
        img {
            width: 50%;
        }
    }
    &__delete-btn {
        position: relative;
        top: -5px;
        left: 49%;
        span {
            display: flex;
            width: 20px;
            height: 2px;
            background-color: #525252;
            position: relative;
        }
        span:nth-child(1){
            top: 2px;
            transform: rotate(45deg);
        }
        span:nth-child(2){
            transform: rotate(-45deg);
        }
    }
}
.banner-in {
    left: 12px;
}
.delete {
    display: none;
}



/* 歌詞情報 */
/* 共通箇所 */
.wrapper_lyric {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    @include tab {
        margin-top: 130px;
        margin-left: 2%;
        margin-right: 2%;
    }
    @include sp {
        margin-top: 110px;
        margin-left: 2%;
        margin-right: 2%;
    }
}
/* ヘッダ箇所 */
.page-header__lyrics {
    margin-top: 33px;
    margin-right: 13%;
    @include sp {
        margin-top: 2%;
    }
}
/* 曲選択箇所 */
.songs {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    width: 96%;
    @include sp {
        margin-top: 10px;
        font-size: 1rem;
    }
    li {
        display: inline-block;
        border-bottom: #000000 1px solid;
        a{
            text-decoration: none;              /* 下線消し */
        }
    }
    &__song {
        overflow-x: scroll;
        white-space: nowrap;                    /* 幅が狭くなっても折り返さない */
    }
    &__jp {
        font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    }
    &__en {
        font-size: 1.75rem;
    }
}
/* 楽曲情報箇所 */
.info {
    max-width: 1300px;
    margin: 20px auto 10px auto;
    height: 100px;
    background-color: #F2F2F2;
    @include tab {
        margin-left: 1%;
        margin-right: 1%;
    }
    @include sp {
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 70px;
    }
}
#display_title {
    font-size: 1.8rem;
    padding-top: 0.5%;
    text-align: center;
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    min-height: 40px;
    max-height: 40px;
    @include sp {
        font-size: 1.5rem;
        min-height: 30px;
        max-height: 30px;
    }
}
#display_write {
    margin-left: 1%;
    font-size: 1rem;
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    @include sp {
        font-size: 0.7rem;
    }
}
#display_make {
    margin-left: 1%;
    padding-bottom: 0.5%;
    font-size: 1rem;
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    @include sp {
        font-size: 0.7rem;
    }
}
/* 歌詞情報 */
.lyric {
    margin-top: 50px;
    @include sp {
        margin-top: 30px;
    }
}
#display_lyric {
    font-size: 18px;
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium", sans-serif;
    @include sp {
        font-size: 0.8rem;
    }
}